<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<header>
        <div class="list-group">
        <a routerLink="localhost:4200/combustivel" class="list-group-item list-group-item-action active">
        Pesquisa de Combustível
        </a>
        </div>        
</header>            
<body>        
        <a routerLink="dados-agrupados-por-data-coleta" class="list-group-item list-group-item-action">Dados agrupados por data de coleta</a>
        <a routerLink="dados-agrupados-por-distribuidora" class="list-group-item list-group-item-action">Dados agrupados por distribuidoras</a>
        <a routerLink="dados-por-sigla" class="list-group-item list-group-item-action">Dados por sigla</a>
        <a routerLink="media-de-preco" class="list-group-item list-group-item-action">Media de Preços</a>
        <a routerLink="valor-media-compra-venda-bandeira" class="list-group-item list-group-item-action">Valor da media de compra e venda por bandeira</a>
        <a routerLink="valor-media-compra-venda-municipio" class="list-group-item list-group-item-action">Valor da media de compra e venda por município</a>
</body>

