<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<header>
    <div class="list-group">
            <a routerLink="../" class="list-group-item list-group-item-action active">
            Pesquisa de Combustível
            </a>
        </div>        
</header>  
<body>
    <table *ngIf="responsePreco">
        <thead class=".poscentralized">
            <tr>
            <th scope="col">Atributo</th>
            <th scope="col">Média de valor por compra</th>
            <th scope="col">Média de valor por venda</th>

            </tr>
        </thead>
    
    <tbody>
            
            <tr *ngFor="let user of responsePreco">
            <th scope="row" text-align="center">{{user.atributo}}</th>
            <td>{{user.mediaValorCompra}}</td>
            <td>{{user.mediaValorVenda}}</td>

            </tr>
    </tbody>
    </table>

</body>