body {
    font-size:150%;
    justify-content: center;
}

.panel-body{
    background-color: #c3e2f5;
    text-align: center;
    align-items: center;
    justify-content: center;

    
}

.form-group {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.panel-heading{
    font-size:150%;
    }

.alinhamento {
    align-content: center !important;

}