body {
    text-align: center;
    justify-content: center;
}

.panel-body{
    background-color: #c3e2f5;  

    
}

.form-group {
    text-align: center;
    align-items: center;
    justify-content: center;
}

